<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${doc.title}"/>
</head>
<body>
<a th:href="@{/show}">list</a>
<form th:action="@{/delete/{docId}(docId=${doc.id})}">
	<input type="submit" value="Delete">
</form>
<form th:action="@{/edit}">
	<input type="hidden" name="id" th:value="${doc.id}">
	<input type="hidden" name="title" th:value="${doc.title}">
	<input type="hidden" name="content" th:value="${doc.content}">
	<input type="submit" value="Edit">
</form>
<br>
제목: <span th:text="${doc.title}"/>     저자: <span th:text="${session.user.id}"/>     조회수: <span th:text="${doc.hit+1}"/><br><br>
내용: <span th:text="${doc.content}"/><br><br>

<li th:each="comment: ${doc.comments}">
	<td th:text="${comment.content}"></td>(작성자: <td th:text="${comment.userId}"></td>  작성일: <td th:text="${comment.date}"></td>)<br>
</li>

<form th:action="@{/comment}" method="post">
	<textarea name="content" wrap="soft" autofocus="autofocus"></textarea><br>
	<input type="submit" value="add comment">
	<input type="hidden" name="documentId" th:value="${doc.id}">
	<input type="hidden" name="userId" th:value="${session.user.id}">
</form>
</body>
</html>